$defaultTextColor: #525252;

$baseColor: #ff9d42;
$subColor: #fff4ea;
$hoverBaseColor: #ffc082;
$grayBorderColor: #dfdfdf;
$outgoColor: #ff9676;
$outgoBorderColor: #ff2419;
$incomeColor: #4dbf7b;
$incomeBorderColor: #0d9242;
$grayButtonColor: #9a9a9a;
$hoverGrayButtonColor: #b4b4b4;

$tabBGColor: #f7f7f7;
$tabMarginPX: 4px;
$tabMarginPer: 4%;
$tabSpeed: 0.2s;

$transitionSpeed: 0.3s;

$breakpoints: (
    'sm': 570px,
    'md': 761px,
    'lg': 1080px,
    'xl': 1200px,
    'xxl': 1400px,
    'mxxl': 1600px,
);

@mixin mq($size) {
    @media screen and (max-width: #{map-get($breakpoints, $size)}) {
        @content;
    }
}
