@import './Base/variable';
$iconScale: 3px;

//@use 'sass:map';
$breakpoints: (
    'sm': '(min-width: 577px)',
    'md': '(min-width: 760px)',
    'lg': '(min-width: 1080px)',
);

@mixin mq($breakpoint) {
    @media screen and #{map.get($breakpoints, $breakpoint)} {
        @content;
    }
}
//@use './index.scss';
// @include mixins.mq(md) {
//     body {
//         min-width: auto;
//     }
//     .inner {
//         padding: 0 8px;
//         max-width: 100%;
//     }
// }

* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}
body {
    line-height: 1.5;
    font-family: 'Noto Sans JP', sans-serif;
    // font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',
    //     Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: 1.2rem;
    color: $defaultTextColor;
    margin: 0;
}
a {
    //color: $defaultTextColor;
    color: #333;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    -ms-interpolation-mode: bicubic;
}
button,
input {
    outline: none;
}
ul,
ol,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
    display: block;
}
.App {
    .inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
    }
}
main {
    display: block;
    min-height: calc(100vh - (109px + 108px));
}

.iconBtn {
    position: relative;

    &::before,
    &::after {
        display: inline-block;
        position: absolute;
        content: '';
        width: 3px;
        height: 10px;
        top: 50%;
        background-color: #ffffff;
        margin-top: -5px;
    }
    &.prev {
        &::before,
        &::after {
            left: 16px;
        }

        &::before {
            transform: translateY($iconScale) rotate(-45deg);
        }
        &::after {
            transform: translateY(-$iconScale) rotate(45deg);
        }
    }

    &.next {
        &::before,
        &::after {
            right: 16px;
        }

        &::before {
            transform: translateY($iconScale) rotate(45deg);
        }
        &::after {
            transform: translateY(-$iconScale) rotate(-45deg);
        }
    }
}

// @media screen and (max-width: 760px) {
//     body {
//         min-width: auto;
//     }
//     .inner {
//         padding: 0 8px;
//         max-width: 100%;
//     }
// }
