section.resultSection {
    margin-top: 60px;

    .monthlyResult {
        display: flex;
        align-items: center;
        min-width: 300px;

        > li {
            & + li {
                margin-left: 60px;
            }
        }
    }
}

@media screen and (max-width: 760px) {
    section.resultSection {
        margin-top: 40px;
    }
    .monthlyResult {
        min-width: 100%;
        width: 100%;

        > li {
            width: 50%;
            text-align: center;
            & + li {
                margin-left: 20px;
            }
        }
    }
}
