@use '../Base/variable' as *;
$iconScale: 3px;

.contorolArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    margin: auto;

    .changeDateBtn {
        width: 80px;
        height: 32px;
        background-color: $baseColor;
        border: 0;
        border-radius: 4px;
        text-indent: 200px;
        white-space: nowrap;
        overflow: hidden;
    }
    :global {
        .iconBtn {
            &::after,
            &::before {
                left: 50%;
                height: 12px;
                margin-top: -6px;
                transition: $transitionSpeed;
            }

            &.prev {
                &::before {
                    transform: translateY($iconScale) rotate(-45deg);
                }
                &::after {
                    transform: translateY(-$iconScale) rotate(45deg);
                }
            }

            &.next {
                &::before {
                    transform: translateY($iconScale) rotate(45deg);
                }
                &::after {
                    transform: translateY(-$iconScale) rotate(-45deg);
                }
            }
            &:hover {
                &.prev {
                    &::after,
                    &::before {
                        margin-left: -6px;
                    }
                }

                &.next {
                    &::after,
                    &::before {
                        margin-left: 6px;
                    }
                }
            }
        }
    }
}
