@use '../Base/variable' as *;

.reportTypeTab {
    position: relative;
    height: 60px;
    margin: 10px auto 20px;
    cursor: pointer;

    &.isActive {
        .tabCircle {
            left: 0;
            margin-left: $tabMarginPX;
        }
    }

    .tabCircle {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 1.6rem;
        color: #ffffff;
        top: 0;
        left: calc(50% + $tabMarginPX);
        width: calc(50% - $tabMarginPX);
        height: calc(100% - $tabMarginPX * 2);
        margin: $tabMarginPX 0;
        margin-left: -$tabMarginPX;
        border-radius: $tabMarginPX;
        padding: 4px 8px;
        background-color: $baseColor;
        transition: all $tabSpeed;
        z-index: 100;
    }

    ul.tabList {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $tabBGColor;
        border: 1px solid $grayBorderColor;
        border-radius: 4px;
        z-index: 20;

        > li.tabListItem {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            color: $baseColor;
            width: calc(50% - $tabMarginPX);
            height: calc(100% - $tabMarginPX * 2);
            margin: $tabMarginPX 0;
            margin-left: $tabMarginPX;
            border-radius: $tabMarginPX;
            padding: 4px 8px;
            z-index: 10;
        }
    }
}
