.inputFormSection {
    width: calc(100% - 240px);
    margin-left: 120px;
    form {
        text-align: center;
        ul.tabList {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            text-align: center;

            > li {
                min-width: 120px;
                background-color: #ddd;
                border: 1px solid #b1b1b1;
                padding: 8px 20px;
                cursor: pointer;
                transition: 0.2s;

                &:nth-of-type(1) {
                    border-radius: 2px 0 0 2px;

                    &:hover {
                        background-color: #83d8a5;
                    }
                }

                &:nth-of-type(2) {
                    border-radius: 0 2px 2px 0;

                    &:hover {
                        background-color: #ffb49e;
                    }
                }

                &.isActive {
                    font-weight: bold;
                    color: #000000;

                    &:nth-of-type(1) {
                        background-color: #53dc8a;
                        border: 1px solid #0d9242;
                    }

                    &:nth-of-type(2) {
                        background-color: #ff9676;
                        border: 1px solid #ff2419;
                    }
                }
            }
        }

        .input {
            text-align: left;
            > label {
                font-size: 1.6rem;
                width: 160px;
            }
            input {
                text-align: left;
                width: 280px;
                margin-left: 20px;
                border: 1px solid #5f5f5f;
                border-radius: 4px;
                padding: 6px 10px;
            }

            & + .input {
                margin-top: 16px;
            }

            .react-datepicker-wrapper {
                position: relative;
                text-align: left;
                max-width: 160px;
                margin-left: 20px;

                &::after {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 16px;
                    height: 16px;
                    top: 50%;
                    right: 20px;
                    background: url('../img/common/icon-schedule.png') no-repeat
                        0 0/16px 16px #ffffff;
                    margin-top: -8px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.6;
                    }
                }

                input {
                    width: 100%;
                    margin-left: 0;
                    padding-right: 40px;
                }
            }
        }

        .inputAmount {
            margin-top: 20px;
        }

        button.submitBtn {
            font-size: 1.8rem;
            font-weight: bold;
            color: #ffffff;
            background-color: #ff9d42;
            min-width: 160px;
            width: auto;
            margin: 40px auto 0;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 6px 18px;
            transition: 0.2s;

            &:hover,
            :active {
                background-color: #ffc082;
                border: 1px solid #ffe695;
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .inputFormSection {
        width: 100%;
        margin-left: 0;
        form {
            width: 100%;

            ul.tabList {
                li {
                    min-width: 40%;
                    padding: 6px 8px;
                }
            }

            .input {
                > label {
                    width: 60px;
                }
                > input {
                    width: calc(100% - 60px);
                }
            }
        }
    }
}
