.itemListSection {
    .noData {
        color: #858585;
    }
    .result {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: baseline;
        margin-top: 40px;

        > div.income,
        > div.outgo {
            width: 100%;

            ul {
                > li {
                    display: flex;
                    padding: 0 10px;

                    & + li {
                        margin-top: 10px;
                        padding-top: 10px;
                        border-top: 1px solid #dddddd;
                    }

                    > .date {
                        font-size: 1.4rem;
                        color: #696969;

                        & + .amount {
                            margin-left: 20px;
                        }
                    }
                    .amount {
                        font-size: 1.6rem;
                    }
                }
            }
        }

        > div.income {
            & + div.outgo {
                margin-left: 30px;
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .itemListSection {
        .result {
            margin-top: 10px;
            > div.income,
            > div.outgo {
                ul {
                    text-align: left;
                    > li {
                        display: block;

                        > .date {
                            font-size: 1.2rem;
                            color: #696969;

                            & + .amount {
                                margin-left: 0;
                                margin-top: 2px;
                            }
                        }

                        span {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
