@media screen and (max-width: 760px) {
    :global {
        .columnWrapper {
            display: block !important;

            
            .rightColumn {
                width: 100% !important;
                margin-left: 0!important;
            }

            .leftColumn {
                width: 100% !important;
                margin-bottom: 20px;
                display: none;
            }
        }
    }
}
