:global {
    .columnWrapper {
        .leftColumn,
        .rightColumn {
            max-height: calc(100vh - 80px);
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            border-radius: 6px;
        }

        .rightColumn {
            padding-left: 10px;
        }

        .leftColumn {
            padding-right: 10px;
        }
    }
}

@media screen and (max-width: 760px) {
    :global {
        .columnWrapper {
            position: relative;
            display: block !important;

            .rightColumn,
            .leftColumn {
                max-height: none;
                padding-right: 0;
                padding-left: 0;
                overflow-y: auto;
            }

            .rightColumn {
                width: 100% !important;
                margin-left: 0 !important;
                padding-left: 0;
            }

            .leftColumn {
                width: 100% !important;
                margin-bottom: 20px;
                display: none;
            }
        }
    }
}
