@use './Base/variable' as *;

.dairyReportList {
    .dairyReport {
        padding: 0 6px;
        & + .dairyReport {
            margin-top: 16px;
            padding-top: 16px;
            border-top: 1px solid $grayBorderColor;
        }
    }
}
