@import './Base/variable';

form.editForm {
    .typeTab {
        position: relative;
        min-width: 200px;
        width: 200px;
        height: 48px;
        margin: 16px auto 32px;
        cursor: pointer;

        &.isActive {
            .tabCircle {
                left: 0;
                margin-left: $tabMarginPX;
            }
        }

        .tabCircle {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            font-size: 1.6rem;
            color: #ffffff;
            top: 0;
            left: 52%;
            width: calc(50% - $tabMarginPX);
            height: calc(100% - $tabMarginPX * 2);
            margin: $tabMarginPX 0;
            margin-left: -$tabMarginPX;
            border-radius: $tabMarginPX;
            padding: 4px 8px;
            background-color: $baseColor;
            transition: all $tabSpeed;
            z-index: 100;
        }

        ul.tabList {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $tabBGColor;
            border: 1px solid $grayBorderColor;
            border-radius: 4px;
            z-index: 20;

            > li.tabListItem {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.6rem;
                color: $baseColor;
                width: calc(50% - $tabMarginPX);
                height: calc(100% - $tabMarginPX * 2);
                margin: $tabMarginPX 0;
                margin-left: $tabMarginPX;
                border-radius: $tabMarginPX;
                padding: 4px 8px;
                z-index: 10;
            }
        }
    }

    .input {
        text-align: left;
        display: flex;
        align-items: center;
        max-width: 370px;
        margin: 0 auto;
        padding: 0 10px;

        .label {
            display: block;
            font-size: 1.2rem;
            width: 50px;
        }
        .editArea {
            display: block;
            color: $defaultTextColor;
            text-align: left;
            margin-top: 4px;
            border: 0;
            border-radius: 4px;
            padding: 10px 12px;
            outline: 0;
        }

        input.editArea {
            width: calc(100% - 60px);
        }

        & + .input {
            margin-top: 12px;
            border-top: 1px solid $grayBorderColor;
            padding-top: 16px;
        }

        :global {
            .react-datepicker-wrapper {
                position: relative;
                text-align: left;
                width: calc(100% - 60px);

                &::after {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 16px;
                    height: 16px;
                    top: 50%;
                    right: 20px;
                    background: url('../img/common/icon-schedule.png') no-repeat
                        0 0/16px 16px #ffffff;
                    margin-top: -8px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.6;
                    }
                }

                input {
                    width: 100%;
                    margin-left: 0;
                    padding-right: 40px;
                }
            }
        }
    }

    .buttonWrapper {
        margin-top: 32px;
        button.submitBtn {
            display: block;
            font-size: 1.8rem;
            color: #ffffff;
            background-color: $baseColor;
            width: 240px;
            margin: 0 auto;
            border: 0;
            border-radius: 20px;
            padding: 6px 18px;
            transition: $transitionSpeed;

            &:hover,
            :active {
                background-color: #ffc082;
            }
        }

        .toEditBtn {
            display: block;
            font-size: 1.8rem;
            text-align: center;
            color: #ffffff;
            background-color: #9a9a9a;
            width: 240px;
            margin: 16px auto 0;
            border: 0;
            border-radius: 20px;
            padding: 8px 18px;
            transition: $transitionSpeed;

            &:hover,
            :active {
                background-color: #b4b4b4;
            }
        }
        :global {
            .iconBtn {
                padding-right: 40px;

                &.next::before,
                &.next::after {
                    right: 24px;
                }
            }
        }
    }

    .inputCategory.input {
        display: block;
        max-width: 100%;
        min-height: 320px;
        margin-top: 2px;

        .label {
            display: inline-block;
        }
        .categoryList {
            &.editArea {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding: 10px 0;

                li.category {
                    width: calc((100% - 20px) / 3);
                    margin-left: 10px;
                    overflow: hidden;

                    &:nth-of-type(3n + 1) {
                        margin-left: 0;
                    }

                    &:nth-of-type(n + 4) {
                        margin-top: 10px;
                    }

                    button.categoryBtn {
                        width: 100%;
                        background-color: #ffffff;
                        border: 1px solid $grayBorderColor;
                        border-radius: 4px;
                        padding: 12px 2px;
                        transition: $transitionSpeed;

                        &:hover,
                        &.isActive {
                            background-color: $baseColor;
                            color: #ffffff!important;
                            border: 1px solid $baseColor;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    form.editForm {
        :global {
            .columnWrapper {
                .leftColumn {
                    width: 100% !important;
                    margin-bottom: 20px;
                    display: block;
                }
            }
        }
    }
}
