@import './Base/variable';

footer.footerMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #e7e7e7;
    min-height: 50px;
    margin-top: 30px;
    padding: 10px 10px;

    @include mq(md) {
        min-height: 40px;
        margin-top: 20px;
    }
}
