@import './Base/variable';
$grobalnavBorder: 3px;

.grobalNavi {
    display: flex;
    align-items: center;
    margin-top: 10px;

    .grobalNaviList {
        a {
            color: #797979;
            display: block;
            font-size: 1.6rem;
            padding: 1px 8px 5px 8px;
            border-bottom: $grobalnavBorder solid #ffffff;

            span.grobalNaviList_bg {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 2px;
                padding: 6px 16px;
                transition: 0.4s;
            }
            &:hover {
                span.grobalNaviList_bg {
                    color: #3f3f3f;
                    background-color: $subColor;
                }
            }

            &.active {
                border-bottom: $grobalnavBorder solid $baseColor;
            }
        }
    }
}

@include mq(md) {
    .grobalNavi {
        display: flex;
        align-items: flex-end;
        text-align: center;
        width: 100%;
        margin-top: 2px;

        .grobalNaviList {
            width: calc(100% / 4);
            height: 100%;
            a {
                width: 100%;
                height: 100%;
                font-size: 1.2rem;
                padding: 6px 10px;

                span.grobalNaviList_bg {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                @include mq(sm) {
                    font-size: 1rem;
                }

                &:hover {
                    span.grobalNaviList_bg {
                        background-color: #ffffff;
                    }
                }
            }
        }
    }
}
