@import './Base/variable';

$grobalnavBorder: 2px;

header.menuHeader {
    background-color: #ffffff;
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
    box-shadow: 0 1px 2px 0 #e9e9e9;
    padding: 0 18px;
    z-index: 100000;
    transform: none;

    .headerWrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    a {
        color: $defaultTextColor;
        text-decoration: none;
    }

    h1.headerTitle {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        font-size: 1.8rem;
        font-weight: normal;
        margin: 0;

        .logo {
            padding: 18px 6px;
            img {
                margin-right: 10px;
            }
        }
    }

    .headerlinksWrapper {
        display: flex;
        justify-content: space-between;

        .grobalNavi {
            display: flex;
            align-items: center;
            margin-top: 10px;

            .grobalNaviList {
                a {
                    display: block;
                    font-size: 1.6rem;
                    padding: 10px 24px;
                    border-bottom: $grobalnavBorder solid #ffffff;
                    transition: $transitionSpeed;
                    &:hover {
                        color: $baseColor;
                        border-bottom: $grobalnavBorder solid $baseColor;
                    }

                    &.active {
                        color: $baseColor;
                        border-bottom: $grobalnavBorder solid $baseColor;
                    }
                }
            }
        }
    }

    .loginWrapper {
        text-align: center;
        margin-left: 20px;

        .loginUser {
            margin: 0;
        }

        .logoutBtn {
            display: block;
            font-size: 1.2rem;
            color: #ffffff;
            background-color: $baseColor;
            margin: 4px auto 0;
            border: 0;
            border-radius: 4px;
            padding: 6px 10px;
            transition: $transitionSpeed;

            &:hover,
            :active {
                background-color: $hoverBaseColor;
            }
        }
    }
}

@include mq(md) {
    header.menuHeader {
        position: fixed;
        padding: 0 4px;

        .headerWrapper {
            flex-direction: column;
            align-items: baseline;
            flex-wrap: nowrap;
        }

        .headerTitleWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            h1.headerTitle {
                font-size: 1.6rem;
                @include mq(sm) {
                    font-size: 1.2rem;

                    img {
                        width: 16px;
                        height: 16px;
                    }
                }

                .logo {
                    padding: 20px 10px;
                    img {
                        margin-right: 4px;
                    }
                }
            }

            .loginWrapper {
                display: flex;
                align-items: center;

                .logoutBtn {
                    margin-top: 0;
                    margin-left: 8px;
                }
            }
        }

        .headerlinksWrapper {
            width: 100%;

            .grobalNavi {
                display: flex;
                align-items: center;
                text-align: center;
                width: 100%;
                margin-top: 2px;

                .grobalNaviList {
                    width: calc(100% / 4);
                    a {
                        width: 100%;
                        font-size: 1.2rem;
                        padding: 6px 10px;

                        @include mq(sm) {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
