@import './Base/variable';
$iconScale: 3px;

* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}
body {
    line-height: 1.5;
    font-family: 'Noto Sans JP', sans-serif;
    // font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',
    //     Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: 1.2rem;
    color: $defaultTextColor;
    margin: 0;
}
a {
    //color: $defaultTextColor;
    color: #333;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}
button {
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    -ms-interpolation-mode: bicubic;
}
button,
input {
    outline: none;
}
ul,
ol,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
    display: block;
}
.pc-only {
    display: block;
}
.sp-only {
    display: none;
}
@include mq(md) {
    .fc .fc-scrollgrid-section-body table,
    .fc .fc-scrollgrid-section-footer table {
        height: 100%;
    }
    .fc .fc-view-harness{
        height: calc(100vh - 180px) !important;
    }
}
@include mq(md) {
    .pc-only {
        display: none;
    }
    .sp-only {
        display: block;
    }
}

.App {
    .inner {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 10px;
    }

    &.fetching {
        max-height: 100vh;
        overflow: hidden;
    }
}
main {
    display: block;
    min-height: calc(100vh - 80px);
    padding-top: 20px;
    @include mq(md) {
        padding-top: 100px;
    }

    .fetchingWrapper {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #7e7e7ec7;
        z-index: 10000;

        h2.title {
            text-align: center;
            width: 240px;
            max-width: 100%;
            background-color: #ffffff;
            border-radius: 6px;
            padding: 30px 12px;
        }
    }
}

.iconBtn {
    position: relative;

    &::before,
    &::after {
        display: inline-block;
        position: absolute;
        content: '';
        width: 3px;
        height: 10px;
        top: 50%;
        background-color: #ffffff;
        margin-top: -5px;
    }
    &.prev {
        &::before,
        &::after {
            left: 16px;
        }

        &::before {
            transform: translateY($iconScale) rotate(-45deg);
        }
        &::after {
            transform: translateY(-$iconScale) rotate(45deg);
        }
    }

    &.next {
        &::before,
        &::after {
            right: 16px;
        }

        &::before {
            transform: translateY($iconScale) rotate(45deg);
        }
        &::after {
            transform: translateY(-$iconScale) rotate(-45deg);
        }
    }
}
