@use './Base/variable' as *;

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100%;
    min-height: calc(100vh - (104px + 108px));
    min-height: -webkit-fill-available;

    .loginSection {
        text-align: center;
        width: 320px;
        max-width: 100%;
        margin: 0 auto;
        border-radius: 4px;
        padding: 20px;

        .title {
            font-size: 1.8rem;
        }

        .loginForm {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            margin-top: 20px;
            height: 300px;
            max-height: 100%;

            .inputWrapper {
                position: relative;
                width: 100%;
                text-align: left;
                padding-top: 30px;

                .label {
                    position: absolute;
                    display: inline-block;
                    color: #b3b3b3;
                    background-color: #ffffff;
                    left: 3px;
                    top: 8px;
                    font-size: 1.4rem;
                    padding: 4px 6px;
                    transition: $transitionSpeed;
                }

                .input {
                    font-size: 1.6rem;
                    width: 100%;
                    background-color: #ffffff !important;
                    border: 0;
                    border-bottom: 2px solid $baseColor;
                    border-radius: 8px;
                    padding: 14px 10px 10px;
                    -webkit-appearance: button;

                    &:focus ~ .label {
                        color: $baseColor;
                        top: -6px;
                        background-color: #ffffff00;
                    }

                    &:-webkit-autofill {
                        box-shadow: 0 0 0 1000px white inset;
                    }
                }
            }
        }

        .submitBtn {
            display: block;
            font-size: 1.8rem;
            color: #ffffff;
            background-color: $baseColor;
            width: 280px;
            max-width: 100%;
            border: 0;
            border-radius: 32px;
            padding: 10px 18px;
            cursor: pointer;
            transition: background-color $transitionSpeed;

            &:hover,
            :active {
                background-color: $hoverBaseColor;
            }

            &:disabled {
                background-color: $hoverBaseColor;
                cursor: auto;
            }

            &.submitGusetBtn {
                background-color: $grayButtonColor;
                margin-top: 10px;

                &:hover,
                :active {
                    background-color: $hoverGrayButtonColor;
                }
            }
        }
        .submitBtn:disabled {
            :global {
                .iconBtn {
                    padding-right: 40px;

                    &.next::before,
                    &.next::after {
                        right: 24px;
                        transition: none;
                    }

                    &:hover,
                    &:active {
                        &.next::before,
                        &.next::after {
                            right: 24px;
                        }
                    }
                }
            }
        }
        :global {
            .iconBtn {
                padding-right: 40px;

                &.next::before,
                &.next::after {
                    right: 24px;
                    transition: right $transitionSpeed;
                }

                &:hover,
                &:active {
                    &.next::before,
                    &.next::after {
                        right: 20px;
                    }
                }
            }
        }
    }
}

.toast {
    color: #eb8c00;
    text-align: center;
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -160px;
    max-width: 100%;
    min-width: 320px;
    background-color: rgba(255, 228, 201, 0.414);
    border: 1px solid #ffae34;
    border-radius: 4px;
    padding: 1px 4px;
    opacity: 1;

    animation-name: toastAnimation;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    @include mq(md) {
        margin-left: 0;
        min-width: calc(100% - 8px);
        top: 70px;
        left: 4px;
        animation-name: toastAnimation_sp;
    }
}

@keyframes toastAnimation {
    50% {
        top: 10px;
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        top: 40px;
        opacity: 0;
    }
}

@keyframes toastAnimation_sp {
    50% {
        top: 70px;
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        top: 80px;
        opacity: 0;
    }
}

@include mq(md) {
    .login {
        min-height: calc(100vh - (64px + 80px));
        min-height: -webkit-fill-available;

        @include mq(sm) {
            min-height: calc(100vh - (58px + 80px));
            min-height: -webkit-fill-available;
        }

        .btnList {
            display: block;
            margin-top: 40px;
            width: 100%;

            .returnBtn {
                width: 100%;

                a.toHome,
                button.toBack {
                    padding: 12px 8px;
                }

                &:nth-of-type(2) {
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }
    }
}
