@use './Base//variable' as *;
$calendarBtnScale: 3px;

:global {
    .fc {
        background-color: #ffffff;

        .fc-header-toolbar.fc-toolbar {
            padding: 12px 10px;
            margin-bottom: 0;
            background-color: $baseColor;

            .fc-button.fc-button-primary {
                &.fc-customPrev-button,
                &.fc-customNext-button {
                    overflow: hidden;
                    text-indent: 60px;
                    white-space: nowrap;
                    position: relative;
                    transition: $transitionSpeed;

                    &::before,
                    &::after {
                        display: inline-block;
                        position: absolute;
                        content: '';
                        width: 4px;
                        height: 12px;
                        top: 50%;
                        left: 50%;
                        background-color: $baseColor;
                        margin-top: -6px;
                        margin-left: -2px;
                        transition: $transitionSpeed;
                    }
                }

                &.fc-customPrev-button {
                    &::before {
                        transform: translateY($calendarBtnScale) rotate(-45deg);
                    }
                    &::after {
                        transform: translateY(-$calendarBtnScale) rotate(45deg);
                    }
                }
                &.fc-customNext-button {
                    &::before {
                        transform: translateY($calendarBtnScale) rotate(45deg);
                    }
                    &::after {
                        transform: translateY(-$calendarBtnScale) rotate(-45deg);
                    }
                }

                &:hover {
                    background-color: #ffe6cc;
                    border: 0;

                    &.fc-customPrev-button {
                        &::before,
                        &::after {
                            margin-left: -5px;
                        }
                    }
                    &.fc-customNext-button {
                        &::before,
                        &::after {
                            margin-left: 1px;
                        }
                    }
                }
                &:active,
                &:focus {
                    background-color: #ffe6cc;
                    border: 0 solid #ffffff00;
                    box-shadow: 0 0;
                    outline: 0;
                }
            }
        }
        @include mq(md) {
            .fc-header-toolbar.fc-toolbar {
                padding: 10px 8px;

                .fc-button.fc-button-primary {
                    &.fc-customPrev-button,
                    &.fc-customNext-button {
                        text-indent: 60px;
                        white-space: nowrap;
                        position: relative;
                        transition: $transitionSpeed;

                        &::before,
                        &::after {
                            display: inline-block;
                            position: absolute;
                            content: '';
                            width: 4px;
                            height: 12px;
                            top: 50%;
                            left: 50%;
                            background-color: $baseColor;
                            margin-top: -6px;
                            margin-left: -2px;
                            transition: $transitionSpeed;
                        }
                    }

                    &.fc-customPrev-button {
                        &::before {
                            transform: translateY($calendarBtnScale) rotate(-45deg);
                        }
                        &::after {
                            transform: translateY(-$calendarBtnScale) rotate(45deg);
                        }
                    }
                    &.fc-customNext-button {
                        &::before {
                            transform: translateY($calendarBtnScale) rotate(45deg);
                        }
                        &::after {
                            transform: translateY(-$calendarBtnScale) rotate(-45deg);
                        }
                    }

                    &:hover {
                        background-color: #ffe6cc;
                        border: 0;

                        &.fc-customPrev-button {
                            &::before,
                            &::after {
                                margin-left: -5px;
                            }
                        }
                        &.fc-customNext-button {
                            &::before,
                            &::after {
                                margin-left: 1px;
                            }
                        }
                    }
                    &:active,
                    &:focus {
                        background-color: #ffe6cc;
                        border: 0 solid #ffffff00;
                        box-shadow: 0 0;
                        outline: 0;
                    }
                }
            }
        }
        .fc-toolbar-title {
            color: #ffffff;
            font-weight: normal;
            @include mq(md) {
                font-size: 1.6rem;
            }
        }
        .fc-button-primary {
            background-color: #ffffff;
            color: $baseColor;
            border: 0;

            &:nth-of-type(1) {
                width: 30px;
                height: 30px;
                @include mq(md) {
                    width: 48px;
                    height: 24px;
                }
            }
        }

        .fc-scrollgrid-section.fc-scrollgrid-section-header {
            background-color: #fafafa;
            .fc-col-header-cell.fc-day {
                font-weight: normal;
                padding: 6px 0;

                &.fc-day-sun a {
                    color: #d91a1a;
                }
                &.fc-day-sat a {
                    color: #0f50e3;
                }
            }
        }

        .fc-scrollgrid-section.fc-scrollgrid-section-body.fc-scrollgrid-section-liquid {
            .fc-daygrid-day.fc-day {
                transition: $transitionSpeed;
                cursor: pointer;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    display: inline-block;
                    font-size: 1rem;
                    width: 16px;
                    height: 16px;
                    background: url('../img/monthly/icon-pencil01.png') no-repeat 0 0/ 16px 16px #ffffff00;
                    top: 2px;
                    right: 2px;
                    transition: $transitionSpeed;
                    opacity: 0;
                }
                &:hover {
                    background-color: #fefae3;

                    &::after {
                        opacity: 1;
                    }
                }
            }
            .fc-daygrid-day-top {
                justify-content: flex-end;
            }

            .fc-daygrid-day-events {
                a.fc-daygrid-event.fc-daygrid-dot-event.fc-event.fc-event-draggable {
                    position: relative;
                    font-size: 1.4rem;
                    justify-content: center;
                    margin: 0;
                    padding: 2px 2px 2px 18px;
                    overflow: hidden;
                    @include mq(md) {
                        font-size: 1rem;
                    }

                    .outgo,
                    .income {
                        word-break: break-all;
                        display: block;
                        width: 100%;
                    }

                    .yen {
                        font-size: 1.1rem;
                        position: absolute;
                        left: -8px;
                        bottom: 2px;
                    }
                    .sign {
                        position: absolute;
                        display: inline-block;
                        overflow: hidden;
                        text-indent: 100%;
                        white-space: nowrap;
                        width: 14px;
                        height: 14px;
                        top: 50%;
                        left: 4px;
                        margin-top: -8px;
                        margin-right: 2px;
                        border-radius: 50%;
                        @include mq(md) {
                            width: 12px;
                            height: 12px;
                            margin-top: -6px;
                        }
                    }
                    .outgo {
                        .sign {
                            background-color: $outgoColor;
                            &::before {
                                position: absolute;
                                content: '';
                                display: inline-block;
                                background-color: #ffffff;
                                width: 8px;
                                height: 2px;
                                top: 50%;
                                left: 50%;
                                margin-top: -1px;
                                margin-left: -4px;
                                @include mq(md) {
                                    width: 6px;
                                    margin-left: -3px;
                                }
                            }
                        }
                    }
                    .income {
                        .sign {
                            background-color: $incomeColor;
                            &::before,
                            &::after {
                                position: absolute;
                                content: '';
                                display: inline-block;
                                background-color: #ffffff;
                                width: 8px;
                                height: 2px;
                                top: 50%;
                                left: 50%;
                                margin-top: -1px;
                                margin-left: -4px;
                                @include mq(md) {
                                    width: 6px;

                                    margin-left: -3px;
                                }
                            }
                            &::after {
                                transform: rotate(90deg);
                            }
                        }
                    }
                    .amount {
                        word-break: break-all;
                        width: 100%;
                        display: block;
                        text-align: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
