@import './Base/variable';
.notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 217px);

    .title {
        text-align: center;
        .subTitle {
            display: block;
            color: #8d8d8d;
            font-size: 1.8rem;
            font-weight: normal;
            margin-bottom: 20px;
            .errNum {
                position: relative;
                margin-left: 40px;

                &::before {
                    position: absolute;
                    display: inline-block;
                    content: '';
                    width: 2px;
                    height: 16px;
                    background-color: #8d8d8d;
                    top: 6px;
                    left: -20px;
                }
            }
        }
    }

    .btnList {
        display: flex;
        justify-content: center;
        margin-top: 60px;

        .returnBtn {
            width: 200px;
            max-width: 100%;
            overflow: hidden;

            a.toHome,
            button.toBack {
                display: block;

                color: #ffffff;
                font-size: 1.3rem;
                text-align: center;
                height: 100%;
                width: 100%;
                border: 0;
                border-radius: 32px;
                padding: 10px 4px;
                transition: $transitionSpeed;
            }

            .toHome {
                background-color: $baseColor;
                color: #ffffff;

                &:hover {
                    background-color: #ffc082;
                }
            }

            .toBack {
                background-color: $grayButtonColor;

                &:hover {
                    background-color: $hoverGrayButtonColor;
                }
            }

            &:nth-of-type(2) {
                margin-left: 80px;
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .notFound {
        min-height: 100%;
        .btnList {
            display: block;
            margin-top: 40px;
            width: 100%;

            .returnBtn {
                width: 100%;

                a.toHome,
                button.toBack {
                    padding: 12px 8px;
                }

                &:nth-of-type(2) {
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }
    }
}
