@use './Base/variable' as *;
$iconScale: 2px;

dl.recentReportList {
    margin-top: 40px;
    .reportListInner {
        & + .reportListInner {
            margin-top: 32px;
        }
    }

    .date {
        text-align: center;
        margin-bottom: 18px;
        a.toReportLink {
            display: inline-block;
            min-width: 100px;
            background-color: #fffbf8;
            margin: 0 auto;
            border: 1px solid $grayBorderColor;
            border-radius: 20px;
            padding: 4px 10px 4px 6px;
            transition: $transitionSpeed;
        }

        :global {
            a.iconBtn.next {
                &::after,
                &::before {
                    right: 8px;
                    height: 8px;
                    background-color: #ffffff;
                    transition: $transitionSpeed;
                    opacity: 0;
                    margin-top: -4px;
                }

                &::before {
                    transform: translateY($iconScale) rotate(45deg);
                }
                &::after {
                    transform: translateY(-$iconScale) rotate(-45deg);
                }

                &:hover {
                    color: #ffffff;
                    background-color: #ffaf65;
                    border: 1px solid #ffffff00;
                    &::after,
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    dd.report {
        padding: 0 6px;
        & + dd.report {
            margin-top: 16px;
            padding-top: 16px;
            border-top: 1px solid $grayBorderColor;
        }
    }
}
