@use 'sass:math';
@import './Base/variable';

$categoryWidth: 100px;
$amountWidth: 30%;
$setBtnSize: 24px;
$setBtnSMSize: 18px;

.reportWrapper {
    display: flex;
    position: relative;
    padding-right: 40px;

    .category {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color: $baseColor;
        min-width: $categoryWidth;
        width: $categoryWidth;

        .categoryIcon {
            width: 100%;
            text-align: center;
            vertical-align: middle;
            background-color: #ffffff;
            padding: 6px 2px;
            border: 1px solid $grayBorderColor;
            border-radius: 6px;
        }
    }
    .content {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        width: calc(100% - $amountWidth - $categoryWidth - $setBtnSize);
        margin-left: 10px;
    }
    .amount {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.8rem;
        min-width: $amountWidth;
        width: $amountWidth;
        margin-left: 10px;
        word-break: break-all;
    }
    .setBtn {
        position: absolute;
        display: block;
        background-color: #ffb0b0;
        top: 50%;
        right: 0;
        margin-top: math.div(-$setBtnSize, 2);
        border: 0;
        border-radius: 4px;
        padding: 0;
        min-width: $setBtnSize;
        width: $setBtnSize;
        height: $setBtnSize;
        transition: $transitionSpeed;

        &:hover {
            background-color: #c40000;
        }

        &::before,
        &::after {
            position: absolute;
            display: inline-block;
            content: '';
            background-color: #ffffff;
            width: 16px;
            height: 3px;
            top: 50%;
            left: 50%;
            margin-top: -1.5px;
            margin-left: -8px;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}

@include mq(sm) {
    .reportWrapper {
        position: relative;
        padding-right: 0;
        padding-top: 24px;

        .category {
            position: absolute;
            display: inline-block;
            font-size: 1rem;
            min-width: 100%;
            width: 100%;
            top: 0;
            left: 0;

            .categoryIcon {
                position: relative;
                width: 100%;
                text-align: center;
                vertical-align: middle;
                background-color: #ffffff00;
                padding: 0 0 0 10px;
                border: 0;
                border-radius: 0;
                opacity: 0.7;

                &::before {
                    position: absolute;
                    display: inline-block;
                    content: '●';
                    color: inherit;
                    width: auto;
                    height: auto;
                    top: 0;
                    left: 0;
                    transform: scale(0.6);
                }
            }
        }
        .content {
            width: 60%;
            margin-left: 0;
        }
        .amount {
            align-items: flex-end;
            font-size: 1.6rem;
            width: 40%;
            margin-left: 6px;
        }
        .setBtn {
            top: 12px;
            margin-top: math.div(-$setBtnSMSize, 2);
            border: 0;
            border-radius: 3px;
            padding: 0;
            min-width: $setBtnSMSize;
            width: $setBtnSMSize;
            height: $setBtnSMSize;

            &::before,
            &::after {
                width: 10px;
                height: 2px;
                margin-top: -1px;
                margin-left: -5px;
            }
        }
    }
}
