@import './Base/variable';
$iconScale: 3px;

.settings {
    max-width: calc(100% - 20px);
    width: 480px;
    margin: 0 auto 20px;

    .reportTypeTab {
        position: relative;
        height: 60px;
        margin: 10px auto 20px;
        cursor: pointer;

        &.isActive {
            .tabCircle {
                left: 0;
                margin-left: $tabMarginPX;
            }
        }

        .tabCircle {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            font-size: 1.6rem;
            color: #ffffff;
            top: 0;
            left: calc(50% + $tabMarginPX);
            width: calc(50% - $tabMarginPX);
            height: calc(100% - $tabMarginPX * 2);
            margin: $tabMarginPX 0;
            margin-left: -$tabMarginPX;
            border-radius: $tabMarginPX;
            padding: 4px 8px;
            background-color: $baseColor;
            transition: all $tabSpeed;
            z-index: 100;
        }

        ul.tabList {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $tabBGColor;
            border: 1px solid $grayBorderColor;
            border-radius: 4px;
            z-index: 20;

            > li.tabListItem {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.6rem;
                color: $baseColor;
                width: calc(50% - $tabMarginPX);
                height: calc(100% - $tabMarginPX * 2);
                margin: $tabMarginPX 0;
                margin-left: $tabMarginPX;
                border-radius: $tabMarginPX;
                padding: 4px 8px;
                z-index: 10;
            }
        }
    }

    .contorolArea {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
        margin: auto;

        .changeDateBtn {
            width: 80px;
            height: 32px;
            background-color: $baseColor;
            border: 0;
            border-radius: 4px;
            text-indent: 200px;
            white-space: nowrap;
            overflow: hidden;
        }
        :global {
            .iconBtn {
                &::after,
                &::before {
                    left: 50%;
                    height: 12px;
                    margin-top: -6px;
                    transition: $transitionSpeed;
                }

                &.prev {
                    &::before {
                        transform: translateY($iconScale) rotate(-45deg);
                    }
                    &::after {
                        transform: translateY(-$iconScale) rotate(45deg);
                    }
                }

                &.next {
                    &::before {
                        transform: translateY($iconScale) rotate(45deg);
                    }
                    &::after {
                        transform: translateY(-$iconScale) rotate(-45deg);
                    }
                }
                &:hover {
                    &.prev {
                        &::after,
                        &::before {
                            margin-left: -6px;
                        }
                    }

                    &.next {
                        &::after,
                        &::before {
                            margin-left: 6px;
                        }
                    }
                }
            }
        }
    }

    .sumReport {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        background-color: #ffffff;
        margin-top: 20px;
        border-radius: 6px;
        padding: 20px 10px;
    
        h3.reportTitle {
            font-size: 1.6rem;
            font-weight: normal;
            min-width: 40px;
            margin: 0;
        }
    
        p.reportContent {
            font-size: 1.8rem;
            margin: 0;
            margin-left: 20px;
            word-break: break-all;
    
            span.yen {
                font-size: 1.6rem;
                margin-right: 6px;
            }
        }
    }
    
    .sumReportWrapper {
        display: flex;
        margin-top: 20px;
    
        .sumReport {
            display: flex;
            align-items: center;
            width: calc(50% - 10px);
    
            &:nth-of-type(2) {
                margin-left: 20px;
            }
        }
    }
    
}

.graphWrapper {
    max-width: 300px;
    margin: 0 auto;

    section h2 {
        margin-bottom: 10px;
    }
}

.report {
    & + .report {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid $grayBorderColor;
    }
}

@include mq(md) {
    .contorolArea {
        max-width: 100%;
        font-size: 1.6rem;
        margin: 0 10px;

        .changeDateBtn {
            width: 60px;
            height: 26px;
        }
        :global {
            .iconBtn {
                &::after,
                &::before {
                    height: 10px;
                    margin-top: -5px;
                }
            }
        }
    }

    .graphWrapper {
        max-width: 90%;
    }
}
