@import './Base/variable';
$iconScale: 3px;

.graphWrapper {
    max-width: 300px;
    margin: 0 auto;

    section h2 {
        margin-bottom: 10px;
    }
}

.report {
    & + .report {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid $grayBorderColor;
    }
}

@include mq(md) {
    .contorolArea {
        max-width: 100%;
        font-size: 1.6rem;
        margin: 0 10px;

        .changeDateBtn {
            width: 60px;
            height: 26px;
        }
        :global {
            .iconBtn {
                &::after,
                &::before {
                    height: 10px;
                    margin-top: -5px;
                }
            }
        }
    }

    .graphWrapper {
        max-width: 90%;
    }
}
