@use './Base/variable' as *;

form.editForm {
    .typeTab {
        position: relative;
        min-width: 200px;
        width: 200px;
        height: 48px;
        margin: 10px auto;
        cursor: pointer;

        &.isActive {
            .tabCircle {
                left: 0;
                margin-left: $tabMarginPX;
            }
        }

        .tabCircle {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            font-size: 1.6rem;
            color: #ffffff;
            top: 0;
            left: calc(50% + $tabMarginPX);
            width: calc(50% - $tabMarginPX);
            height: calc(100% - $tabMarginPX * 2);
            margin: $tabMarginPX 0;
            margin-left: -$tabMarginPX;
            border-radius: $tabMarginPX;
            padding: 4px 8px;
            background-color: $baseColor;
            transition: all $tabSpeed;
            z-index: 100;
        }

        ul.tabList {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $tabBGColor;
            border: 1px solid $grayBorderColor;
            border-radius: 4px;
            z-index: 20;

            > li.tabListItem {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.6rem;
                color: $baseColor;
                width: calc(50% - $tabMarginPX);
                height: calc(100% - $tabMarginPX * 2);
                margin: $tabMarginPX 0;
                margin-left: $tabMarginPX;
                border-radius: $tabMarginPX;
                padding: 4px 8px;
                z-index: 10;
            }
        }
    }

    .input {
        text-align: left;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0 10px;

        .label {
            display: block;
            font-size: 1.2rem;
            width: 50px;
        }
        .editArea {
            display: block;
            color: $defaultTextColor;
            font-size: 1.6rem;
            text-align: left;
            margin-top: 4px;
            border: 0;
            border-radius: 4px;
            padding: 10px 12px;
            outline: 0;
        }

        input.editArea {
            width: calc(100% - 60px);
        }

        &.inputCategory {
            justify-content: space-between;
            .label {
                display: inline-block;
            }
            select.editArea {
                min-width: 132px;
                max-width: calc((100% - 80px));
            }
        }

        & + .input {
            margin-top: 12px;
            border-top: 1px solid $grayBorderColor;
            padding-top: 16px;
        }

        :global {
            .react-datepicker-wrapper {
                position: relative;
                text-align: left;
                width: calc(100% - 60px);

                &::after {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 16px;
                    height: 16px;
                    top: 50%;
                    right: 20px;
                    background: url('../img/common/icon-schedule.png') no-repeat 0 0/16px 16px #ffffff;
                    margin-top: -8px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.6;
                    }
                }

                input {
                    width: 100%;
                    margin-left: 0;
                    padding-right: 40px;
                }
            }
        }
    }

    .buttonWrapper {
        margin-top: 32px;
        button.submitBtn {
            display: block;
            font-size: 1.8rem;
            color: #ffffff;
            background-color: $baseColor;
            width: 240px;
            margin: 0 auto;
            border: 0;
            border-radius: 20px;
            padding: 6px 18px;
            transition: $transitionSpeed;

            &:hover,
            :active {
                background-color: $hoverBaseColor;
            }
        }

        .toEditBtn {
            display: block;
            font-size: 1.8rem;
            text-align: center;
            color: #ffffff;
            background-color: $grayButtonColor;
            width: 240px;
            margin: 16px auto 0;
            border: 0;
            border-radius: 20px;
            padding: 6px 18px;
            transition: $transitionSpeed;

            &:hover,
            :active {
                background-color: $hoverGrayButtonColor;
            }
        }
        :global {
            .iconBtn {
                padding-right: 40px;

                &.next::before,
                &.next::after {
                    right: 24px;
                }
            }
        }
    }
}
