$defaultTextColor: #525252;

$baseColor: #ff9d42;
$grayBorderColor: #dfdfdf;
$outgoColor: #ff9676;
$outgoBorderColor: #ff2419;
$incomeColor: #4dbf7b;
$incomeBorderColor: #0d9242;


$tabBGColor: #f7f7f7;
$tabMarginPX: 4px;
$tabMarginPer: 4%;
$tabSpeed: 0.2s;

$transitionSpeed: 0.3s;